header{
background-image:url("5338adbe19541a13fa68d2c8523b5854.jpg");
background-size:cover;
height:300px;
}

body{
margin:0;
background-color:white;
font-family:"Century Gothic", "Lato", sans-serif;
}

.dropdown {
   position: relative;
   display: inline-block;

}

.dropdown-content {
   display: none;
   position: absolute;
   max-width:150px;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 5;
}

.dropdown-content a {
   color: black;
   padding: 12px 12px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;
}
footer{
background-color:black;
color:white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  position:relative;
  left:120px;
}
.main {
  flex: 10%;
  background-color: #f1f1f1;
  padding: 20px;
  position:relative;
  right:200px;
}
.right-column{
position:relative;
left:700px;
bottom:620px;
}

fieldset{
border: 1px solid #000;
border-radius:10px;
width:500px;
}

input[type="text"]{
    width: auto;
    position:absolute;
    left:200px;
}

input[type="date"]{
width:auto;
position:absolute;
left:260px;
}

select{
left:200px;
position:absolute;
}

input[type="number"]{
width:auto;
position:absolute;
left:200px;
}

input[type="email"]{
width:auto;
position:absolute;
left:200px;
}

legend{
color:#009999;
text-shadow:1px 1px 2px black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #black;
}
a {
text-decoration:none;
color:black;
font-weight:bold;
}
.main-title{
text-decoration-line:underline;
font-color:black;
}
.studio-title{
text-decoration-line:underline;
font color:black;
}
.films-title{
text-decoration-line:underline;
font color:black;
}
.cookbook-title{
text-decoration:underline;
font color:black;
}
.purchase-title{
text-decoration-line:underline;
font-color:black;
}

.wrapper{
padding:20px;
}

.food-image {
  margin-left: 30px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.box{
display: flex;
}
.row-1 {
  display: flex;
  flex-wrap: wrap;
}
.side-1 {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  position:relative;
  left:100px;
}
.main-1 {
  flex: 10%;
  background-color: #f1f1f1;
  padding: 20px;
  position:relative;
  right:100px;
}
.hw{
   color:white;
}

